#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafafa;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: -15px;
}

#friends-display-link i {
  color: var(--gray-color);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen_channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__channel_header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: var(--gray-color);
}
